#img:
/data
/aaa.zip
/experiments/logs
/experiments/scripts/data
/experiments/scripts/kernel_meta
/experiments/scripts/log
/experiments/scripts/output
/experiments/scripts/tensorboard
/experiments/scripts/*.onnx
/experiments/scripts/core.*
/output
/src/person_reida
/src/*.zip
/tensorboard